{% extends "../_base.njk" %}

{% block title %}Edit Employee{% endblock %}

{% block content %}

  <div class="form-page container">
    <h1>Editing Employee Record</h1>
    {% include "./partials/_form.njk" %}
  </div>

{% endblock %}
