{% extends "../_base.njk" %}

{% block title %}New Employee{% endblock %}

{% block content %}

  {% include '../partials/_nav.njk' %}

  <div class="form-page container">
    <h1>New Employee</h1>
    {% include "./partials/_form.njk" %}
  </div>

{% endblock %}
