{% extends "../_base.njk" %}

{% block title %}New Restaurant{% endblock %}

{% block content %}

  {% include '../partials/_nav.njk' %}

  <div class="form-page container">
    <h1>Editing {{ restaurant.name }}</h1>
    {% include "./partials/_form.njk" %}
  </div>

{% endblock %}
