{% extends "../_base.njk" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    {% for restaurant in restaurants %}
      <p>{{ restaurant | dump }}</p>
    {% endfor %}
  </div>

{% endblock %}
