{% extends "../_base.njk" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row restaurant">
      <h1 class="script">{{ restaurant.name }}</h1>
      <div class="col-md-6">
        <img src="/images/restaurants/{{ restaurant.cuisine }}.jpg"
          alt="Image from {{ restaurant.name }}" />
        <h4>{{ restaurant.addresses[0].city }}, {{ restaurant.addresses[0].state }}</h4>
        <p>{% include './partials/_rating.njk' %}</p>
        <p class="description">{{ restaurant.description }}</p>
        <p class="cuisine-type">
          <span>Cuisine Type:</span> {{ restaurant.cuisine | capitalize }}
        </p>
        <div class="row">
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}/edit" class="btn btn-block btn-info">Edit</a>
          </div>
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}/employees/new" class="btn btn-block btn-default">Add Employee</a>
          </div>
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}" id="delete-restaurant" data-delete-redirect="true" class="btn btn-block btn-danger">Delete</a>
          </div>
        </div>

        {% include './partials/_employees.njk' %}
      </div>
      <div class="col-md-6">
        <h2 class="reviews-title">
          <span>{{ restaurant.rating.numOfReviews or 'No' }}</span> Reviews
        </h2>

        <p class="new-review">Create a <a href="/restaurants/{{ restaurant.id }}/reviews/new">New Review</a> for this restaurant!</p>

        {% if not restaurant.rating %}
          <p class="no-rating"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> We don't have any reviews for this restaurant!</p>
        {% endif %}

        {% include './partials/_reviews.njk' %}
      </div>
    </div>
  </div>

{% endblock %}
