{% extends "../_base.njk" %}

{% block title %}{% endblock %}

{% block content %}

  {% include '../partials/_nav.njk' %}

  <div class="container">
    <div class="row restaurant">
      <h1 class="script">{{ restaurant.name }}</h1>
      <div class="col-md-6">
        <img src="/images/restaurants/{{ restaurant.cuisine }}.jpg"
          alt="Image from {{ restaurant.name }}" />
        <h4>{{ restaurant.addresses[0].city }}, {{ restaurant.addresses[0].state }}</h4>
        <p>{% include './partials/_rating.njk' %}</p>
        <p class="description">{{ restaurant.description }}</p>
        <p class="cuisine-type">
          <span>Cuisine Type:</span> {{ restaurant.cuisine | capitalize }}
        </p>
        <div class="row">
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}/edit" class="btn btn-block btn-info">Edit</a>
          </div>
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}/employees/new" class="btn btn-block btn-default">Add Employee</a>
          </div>
          <div class="col-md-4">
            <a href="/restaurants/{{ restaurant.id }}" id="delete-restaurant" data-delete-redirect="true" class="btn btn-block btn-danger">Delete</a>
          </div>
        </div>

        {% if restaurant.employees.length > 0 %}
          <div class="employees row">
            <div class="col-md-12">
              <h2>Employees</h2>
              <table class="table">
                <thead>
                  <th>Name</th>
                  <th>Position</th>
                  <th></th>
                </thead>
                <tbody>
                  {% for employee in restaurant.employees %}
                    {% set user = employee.users[0] %}
                    <tr>
                      <td>
                        {{ user.preferred_name }} {{ user.last_name }}
                      </td>
                      <td>
                        {{ employee.role }}
                      </td>
                      <td>
                        <a href="/restaurants/{{ restaurant.id }}/employees/{{ employee.id }}/edit">Edit</a>
                        <a href="/restaurants/{{ restaurant.id }}/employees/{{ employee.id }}" data-delete-table="true" id="delete-employee">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h2 class="reviews-title">
          <span>{{ restaurant.rating.numOfReviews or 'No' }}</span> Reviews
        </h2>

        <p class="new-review">Create a <a href="/restaurants/{{ restaurant.id }}/reviews/new">New Review</a> for this restaurant!</p>

        {% if not restaurant.rating %}
          <p class="no-rating"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> We don't have any reviews for this restaurant!</p>
        {% endif %}

        {% for review in restaurant.reviews %}
          {% set user = review.users[0] %}
          <div class="review">
            <p class="truncated">{{ review.content | truncate(150) }}</p>
            <p class="full-content">{{ review.content }}</p>
            <div class="row">
              <div class="col-md-4">
                {% set rating = review.rating %}
                <p>{% include './partials/_stars.njk' %}</p>
              </div>
              <div class="col-md-4">
                <h5 class="date">{{ review.created_at | date('MMMM Do, YYYY') }}</h5>
              </div>
              <div class="col-md-4">
                <h5 class="reviewer">{{ user.preferred_name }} {{ user.last_name[0] }}.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>
                  <a href="/restaurants/{{ restaurant.id }}/reviews/{{ review.id }}/edit">Edit Review</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
