{% extends "../_base.njk" %}

{% block title %}New Review{% endblock %}

{% block content %}

  {% include '../partials/_nav.njk' %}

  <div class="form-page container">
    <h1>New Review for {{ restaurant.name }}</h1>
    {% include "./partials/_form.njk" %}
  </div>

{% endblock %}
