@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

// colors
$dark-blue: #13293D;
$med-blue: #006494;
$fade-blue: #247BA0;
$bright-blue: #1B98E0;
$off-white: #E8F1F2;
$black: #2D2D2D;

// fonts
$kaushan: 'Kaushan Script', cursive;
