@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

// colors
$off-white: #E8F1F2;
$black: #2D2D2D;
$primary: #1B98E0;
$danger: #D64933;
$warning: #E7E247;

// fonts
$kaushan: 'Kaushan Script', cursive;
