@import './variables';
@import './nav_and_footer';
@import './home';
@import './restaurants/list';
@import './restaurants/show';

html {
  color: $black;
  font-size: 16px;
}

.script {
  font-family: $kaushan;
}
