@import './variables';
@import './nav_and_footer';
@import './home';


html {
  font-size: 16px;
}

.script {
  font-family: $kaushan;
}

.restaurants {
  .row {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $bright-blue;
      text-decoration: none;
    }
  }

  h4 {
    color: $med-blue;
    font-size: 1rem;
    font-weight: 900;
  }

  img {
    width: 100%;
  }
}
