{% for cuisine in cuisines %}
  <option value="{{ loop.index - 1 }}"
    {% if restaurant.cuisine_type + 1 == loop.index %}
      selected="selected"
    {% endif %}>
    {{ cuisine | capitalize }}
  </option>
{% endfor %}
