{% if restaurant.rating %}
  {% set average = restaurant.rating.average %}
  <div class="rating" data-average-rating="{{ average }}">
    {% for i in range(1,6) -%}
      {% if i <= average %}
        <i class="fa fa-star" aria-hidden="true"></i>
      {% elif i <= (average + 0.5) and i < (average + 1 ) %}
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
      {% endif %}
    {%- endfor %}
  </div>
{% else %}
  <p class="no-rating"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> We don't have any reviews for this restaurant!</p>
{% endif %}
