{% if restaurant.rating %}
  {% set rating = restaurant.rating.average %}
  {% include './_stars.njk' %}
{% else %}
  <p class="no-rating"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> We don't have any reviews for this restaurant!</p>
{% endif %}
