<option value="AL"
  {% if address.state == "AL" %}
    selected="selected"
  {% endif %}>
  AL
</option>
<option value="AK"
  {% if address.state == "AK" %}
    selected="selected"
  {% endif %}>
  AK
</option>
<option value="AZ"
  {% if address.state == "AZ" %}
    selected="selected"
  {% endif %}>
  AZ
</option>
<option value="AR"
  {% if address.state == "AR" %}
    selected="selected"
  {% endif %}>
  AR
</option>
<option value="CA"
  {% if address.state == "CA" %}
    selected="selected"
  {% endif %}>
  CA
</option>
<option value="CO"
  {% if address.state == "CO" %}
    selected="selected"
  {% endif %}>
  CO
</option>
<option value="CT"
  {% if address.state == "CT" %}
    selected="selected"
  {% endif %}>
  CT
</option>
<option value="DE"
  {% if address.state == "DE" %}
    selected="selected"
  {% endif %}>
  DE
</option>
<option value="FL"
  {% if address.state == "FL" %}
    selected="selected"
  {% endif %}>
  FL
</option>
<option value="GA"
  {% if address.state == "GA" %}
    selected="selected"
  {% endif %}>
  GA
</option>
<option value="HI"
  {% if address.state == "HI" %}
    selected="selected"
  {% endif %}>
  HI
</option>
<option value="ID"
  {% if address.state == "ID" %}
    selected="selected"
  {% endif %}>
  ID
</option>
<option value="IL"
  {% if address.state == "IL" %}
    selected="selected"
  {% endif %}>
  IL
</option>
<option value="IN"
  {% if address.state == "IN" %}
    selected="selected"
  {% endif %}>
  IN
</option>
<option value="IA"
  {% if address.state == "IA" %}
    selected="selected"
  {% endif %}>
  IA
</option>
<option value="KS"
  {% if address.state == "KS" %}
    selected="selected"
  {% endif %}>
  KS
</option>
<option value="KY"
  {% if address.state == "KY" %}
    selected="selected"
  {% endif %}>
  KY
</option>
<option value="LA"
  {% if address.state == "LA" %}
    selected="selected"
  {% endif %}>
  LA
</option>
<option value="ME"
  {% if address.state == "ME" %}
    selected="selected"
  {% endif %}>
  ME
</option>
<option value="MD"
  {% if address.state == "MD" %}
    selected="selected"
  {% endif %}>
  MD
</option>
<option value="MA"
  {% if address.state == "MA" %}
    selected="selected"
  {% endif %}>
  MA
</option>
<option value="MI"
  {% if address.state == "MI" %}
    selected="selected"
  {% endif %}>
  MI
</option>
<option value="MN"
  {% if address.state == "MN" %}
    selected="selected"
  {% endif %}>
  MN
</option>
<option value="MS"
  {% if address.state == "MS" %}
    selected="selected"
  {% endif %}>
  MS
</option>
<option value="MO"
  {% if address.state == "MO" %}
    selected="selected"
  {% endif %}>
  MO
</option>
<option value="MT"
  {% if address.state == "MT" %}
    selected="selected"
  {% endif %}>
  MT
</option>
<option value="NE"
  {% if address.state == "NE" %}
    selected="selected"
  {% endif %}>
  NE
</option>
<option value="NV"
  {% if address.state == "NV" %}
    selected="selected"
  {% endif %}>
  NV
</option>
<option value="NH"
  {% if address.state == "NH" %}
    selected="selected"
  {% endif %}>
  NH
</option>
<option value="NJ"
  {% if address.state == "NJ" %}
    selected="selected"
  {% endif %}>
  NJ
</option>
<option value="NM"
  {% if address.state == "NM" %}
    selected="selected"
  {% endif %}>
  NM
</option>
<option value="NY"
  {% if address.state == "NY" %}
    selected="selected"
  {% endif %}>
  NY
</option>
<option value="NC"
  {% if address.state == "NC" %}
    selected="selected"
  {% endif %}>
  NC
</option>
<option value="ND"
  {% if address.state == "ND" %}
    selected="selected"
  {% endif %}>
  ND
</option>
<option value="OH"
  {% if address.state == "OH" %}
    selected="selected"
  {% endif %}>
  OH
</option>
<option value="OK"
  {% if address.state == "OK" %}
    selected="selected"
  {% endif %}>
  OK
</option>
<option value="OR"
  {% if address.state == "OR" %}
    selected="selected"
  {% endif %}>
  OR
</option>
<option value="PA"
  {% if address.state == "PA" %}
    selected="selected"
  {% endif %}>
  PA
</option>
<option value="RI"
  {% if address.state == "RI" %}
    selected="selected"
  {% endif %}>
  RI
</option>
<option value="SC"
  {% if address.state == "SC" %}
    selected="selected"
  {% endif %}>
  SC
</option>
<option value="SD"
  {% if address.state == "SD" %}
    selected="selected"
  {% endif %}>
  SD
</option>
<option value="TN"
  {% if address.state == "TN" %}
    selected="selected"
  {% endif %}>
  TN
</option>
<option value="TX"
  {% if address.state == "TX" %}
    selected="selected"
  {% endif %}>
  TX
</option>
<option value="UT"
  {% if address.state == "UT" %}
    selected="selected"
  {% endif %}>
  UT
</option>
<option value="VT"
  {% if address.state == "VT" %}
    selected="selected"
  {% endif %}>
  VT
</option>
<option value="VA"
  {% if address.state == "VA" %}
    selected="selected"
  {% endif %}>
  VA
</option>
<option value="WA"
  {% if address.state == "WA" %}
    selected="selected"
  {% endif %}>
  WA
</option>
<option value="WV"
  {% if address.state == "WV" %}
    selected="selected"
  {% endif %}>
  WV
</option>
<option value="WI"
  {% if address.state == "WI" %}
    selected="selected"
  {% endif %}>
  WI
</option>
<option value="WY"
  {% if address.state == "WY" %}
    selected="selected"
  {% endif %}>
  WY
</option>
