<nav class="fluid-container">
  <div class="nav-wrapper container">
    <h2><a href="/">food.me</a></h2>
    <ul>
      <li><a href="/restaurants">Home</a></li>
      {% if currentUser and currentUser.admin %}
        <li><a href="/restaurants/new">New Restaurant</a></li>
      {% endif %}
      {% if currentUser %}
        <li><a href="/logout">Log Out</a></li>
      {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
