<nav class="fluid-container">
  <div class="nav-wrapper container">
    <h2><a href="/">food.me</a></h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/restaurants/new">New Restaurant</a></li>
    </ul>
  </div>
</nav>
