{% extends "_base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="hero fluid-container">
    <div class="title">
      <a href="/restaurants">
        <h1 class="script">Food.me</h1>
        <h2>Eat. More. Food.</h2>
      </a>
    </div>
  </div>

  <div class="search-bar container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form>
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="Find the best restaurants...">
              </div>
            </div>
            <div class="col-xs-3">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="featured container">
    <h2>Featured Restaurants</h2>
    <div class="row">
      {% for restaurant in restaurants %}
        <div class="col-md-4">
          <img src="/images/restaurants/{{ restaurant.cuisine }}.jpg"
            alt="Image from {{ restaurant.name }}" />
          <h3>{{ restaurant.name }}</h3>
          <h4>{{ restaurant.addresses[0].city }}, {{ restaurant.addresses[0].state }}</h4>
          <p>{{ restaurant.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <footer>
    <p>
      Copyright Food.me 2016
    </p>
  </footer>

{% endblock %}
