@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
nav {
  background: #2D2D2D;
  margin-bottom: 2rem; }
  nav .nav-wrapper {
    display: flex; }
  nav h2 {
    color: #E8F1F2;
    font-family: "Kaushan Script", cursive;
    flex: 2;
    margin: 0;
    padding: 1rem; }
    nav h2 a, nav h2 a:visited, nav h2 a:active, nav h2 a:hover {
      color: #E8F1F2;
      text-decoration: none; }
  nav ul {
    align-self: flex-end;
    margin: 0;
    flex: 1; }
  nav li {
    display: inline-block;
    padding: 1rem;
    text-align: center; }
    nav li a, nav li a:visited, nav li a:active {
      color: #E8F1F2; }
      nav li a:hover, nav li a:visited:hover, nav li a:active:hover {
        color: #1B98E0;
        text-decoration: none; }

footer {
  background: #2D2D2D;
  margin-top: 5rem; }
  footer p {
    color: #E8F1F2;
    margin: 0;
    padding: 1rem; }

.hero {
  background-image: url(../images/bg/chef-board.jpeg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  color: #E8F1F2;
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-top: -2rem;
  padding: 5rem; }
  .hero .title {
    align-self: center;
    flex: 1; }
  .hero a:hover, .hero a:active, .hero a:visited {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none; }
  .hero h1, .hero h2 {
    color: rgba(255, 255, 255, 0.85);
    text-align: center; }
  .hero h1 {
    font-size: 10rem; }

.search-bar {
  background: #2D2D2D;
  overflow: hidden;
  padding: 5vh 0; }
  .search-bar .form-group {
    margin: 0; }

.restaurants .row {
  margin-bottom: 2rem; }

.restaurants h2 {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center; }

.restaurants a {
  color: #2D2D2D;
  text-decoration: none; }
  .restaurants a:hover {
    color: #1B98E0;
    text-decoration: none; }

.restaurants h4 {
  font-size: 1rem;
  font-weight: 900; }

.restaurants img {
  width: 100%; }

.restaurants .rating i {
  color: #1B98E0; }

.restaurant i {
  color: #1B98E0; }

.restaurant h1 {
  color: #2D2D2D;
  font-size: 5rem;
  margin: 0 0 2rem 1rem; }

.restaurant .cuisine-type span {
  color: #2D2D2D;
  font-weight: 900; }

.restaurant p.description {
  line-height: 1.5rem; }

.restaurant img {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 100%; }

h2.reviews-title {
  border-bottom: 3px dotted #1B98E0;
  font-weight: 100;
  margin: 0 8rem 1rem;
  padding-bottom: 1rem;
  text-align: center; }
  h2.reviews-title span {
    font-weight: 900; }

.new-review {
  padding: 1rem;
  text-align: center; }

.review {
  margin-bottom: 1rem;
  padding: 1rem; }
  .review.active {
    border-left: 3px solid #1B98E0; }
  .review h5.date {
    font-weight: 100; }
  .review h5.reviewer {
    font-weight: 900;
    text-align: right; }
  .review p.full-content {
    display: none; }

.employees {
  margin-top: 1rem; }
  .employees h2 {
    border-top: 1px dashed #1B98E0;
    padding-top: 2rem; }

.no-rating {
  background: #E7E247;
  font-size: 0.8rem;
  padding: 1rem; }
  .no-rating i {
    color: #2D2D2D;
    margin-right: 0.5rem; }

html {
  color: #2D2D2D;
  font-size: 16px; }

.script {
  font-family: "Kaushan Script", cursive; }

.form-page {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh; }
  .form-page h1 {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem; }
