@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
nav {
  background: #2D2D2D;
  margin-bottom: 2rem; }
  nav .nav-wrapper {
    display: flex; }
  nav h2 {
    color: #E8F1F2;
    font-family: "Kaushan Script", cursive;
    flex: 2;
    margin: 0;
    padding: 1rem; }
    nav h2 a, nav h2 a:visited, nav h2 a:active, nav h2 a:hover {
      color: #E8F1F2;
      text-decoration: none; }
  nav ul {
    align-self: flex-end;
    margin: 0;
    flex: 1; }
  nav li {
    display: inline-block;
    padding: 1rem;
    text-align: center; }
    nav li a, nav li a:visited, nav li a:active {
      color: #E8F1F2; }
      nav li a:hover, nav li a:visited:hover, nav li a:active:hover {
        color: #1B98E0;
        text-decoration: none; }

footer {
  background: #2D2D2D;
  margin-top: 5rem; }
  footer p {
    color: #E8F1F2;
    margin: 0;
    padding: 1rem; }

.hero {
  background-image: url(../images/bg/chef-board.jpeg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  color: #E8F1F2;
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 5rem; }
  .hero .title {
    align-self: center;
    flex: 1; }
  .hero a:hover, .hero a:active, .hero a:visited {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none; }
  .hero h1, .hero h2 {
    color: rgba(255, 255, 255, 0.85);
    text-align: center; }
  .hero h1 {
    font-size: 10rem; }

.search-bar {
  background: #2D2D2D;
  overflow: hidden;
  padding: 5vh 0; }
  .search-bar .form-group {
    margin: 0; }

html {
  color: #2D2D2D;
  font-size: 16px; }

.script {
  font-family: "Kaushan Script", cursive; }

.restaurants .row {
  margin-bottom: 2rem; }

.restaurants h2 {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center; }

.restaurants a {
  color: #2D2D2D;
  text-decoration: none; }
  .restaurants a:hover {
    color: #1B98E0;
    text-decoration: none; }

.restaurants h4 {
  font-size: 1rem;
  font-weight: 900; }

.restaurants img {
  width: 100%; }

.restaurants .rating i {
  color: #1B98E0; }

.restaurants .no-rating {
  background: #E7E247;
  font-size: 0.8rem;
  padding: 1rem; }
  .restaurants .no-rating i {
    margin-right: 0.5rem; }
