@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
html {
  font-size: 16px; }

.script {
  font-family: "Kaushan Script", cursive; }

.hero {
  background-image: url(../images/bg/chef-board.jpeg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  color: #E8F1F2;
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 5rem; }
  .hero .title {
    align-self: center;
    flex: 1; }
  .hero a:hover, .hero a:active, .hero a:visited {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none; }
  .hero h1, .hero h2 {
    color: rgba(255, 255, 255, 0.85);
    text-align: center; }
  .hero h1 {
    font-size: 10rem; }

.search-bar {
  background: #2D2D2D;
  padding: 5vh 0; }
  .search-bar .form-group {
    margin: 0; }

.featured h2 {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center; }

.featured h4 {
  color: #006494;
  font-size: 1rem;
  font-weight: 900; }

.featured img {
  width: 100%; }

footer {
  background: #2D2D2D;
  margin-top: 5rem; }
  footer p {
    color: #E8F1F2;
    margin: 0;
    padding: 1rem; }
